*{
    box-sizing: border-box;
    background-color: #1a1d28;

}
body{
    display: flex;
}

.arrow{
    list-style: none;
    display: flex;
}
#carrito-item{
    margin-top: 100px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
.item-agregado{
    display: flex;
    justify-content: space-around;
    width: 800px;
    border: #26852f 3px solid;
    
}
.item-imagen{
    width: 45%;
}

.item-version{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: aliceblue;
}
.item-precio{
    margin-left: auto;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-ps4{
    width: 70px;
}

.item-remover1 *{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: larger;
    background: #6aff67;
    width: 800px;
}
.item-remover1 img{
    width: 25px;
}

.item-remover1 span:hover{
    color: aliceblue;
}

.remove{
    display: flex;

}
.edit{
    display: flex;

}
.item-11{
    display: flex;
    justify-content:center;
}
.item-11 span{
    display: flex;
    align-items: center;
}
.item-11 span img{
height: 30px;
width: 30px;
}
.agregar {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-top: 80px;
    width: 800px;
    height: 50px;
    border: #26852f 2px solid;
    vertical-align: middle;
}

.agregar:hover{
    background-color: #26852f;
}
.agregar span:hover{
    background-color: #26852f;
}
.agregar span img:hover {
    background-color: #26852f;
}
.agregar-imagen{
    margin:auto;
    width: 30px;
}


div ul li{
    list-style: none;
    
}
.division{
    margin-left: 90px;
    width: 0.5px;
    height: 800px;
    background-color: #26852f;
    color: #26852F;
}
aside {
    margin-top: 100px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    
}

aside li{
    line-height: 50px;
    font-weight: bolder;
    list-style: none;
}

.detalles-pago{
    display: flex;
}
.boton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-left: 100px;
    margin-top: 50px;
}
button{
    width: 200px;
    height: 50px;
    font-weight: bolder;
    background-color: #6aff67;

}
button:hover{
    background-color: aquamarine;
}