*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.el_color{
    background-color: #1A1D28;
}
.cabecera{

    border-radius: 30px;
    border:2px solid cyan;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.cabecera a:hover{
    color: cyan;
}

.cabecera img{
    
    height: 10ex;
    border-radius: 50px;
}

#img_usuario{
    height:70px;
    width: 70px;
    border-radius: 50%;
}
.BarraBusq{
    display:flex ;
    background-color:darkgrey;
    height: 50px;
    width:30em;
    align-items: center;
    border-radius: 30px;
    justify-content: flex-end;
    
}

.BarraBusq span{
   margin-right: 10px; 
}

.BarrBus_Carr{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.BarrBus_Carr img{
    height: 50%;
    border-radius: 50px;
}

footer{
    display: flex;
    background-color:#231D1D;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 1%;
}

footer div h4{
    color: white;
    font-weight: bold;
}

footer div a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}
footer div a:hover{
    color: cyan;
}

footer div span{
    display: block;
    color: white;
}


.division{
    margin-top: 50px;
}

.Vaflex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section h3{
    color: white;
    font-weight: bolder;
    margin-left: 20px;
}

.carrousel1{
    width: 95%;
    display: flex;
    justify-content:space-evenly;
    overflow: hidden;
}
.carrousel1 a img{
    height: 280px;
    width: 200px;
}
.carrousel1 a img:hover{
    border: 5px solid seagreen;
}

.carrousel2 {
    width: 95%;
    display: flex;
    justify-content:space-evenly;
    overflow: hidden;
}
.carrousel2 a img {
    height: 280px;
    width: 550px;
}

.carrousel2 a img:hover {
    border: 5px solid seagreen;
}

.marcobutton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.marcobutton button{
    height: 40px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 50px;
}
.marcobutton button:hover{
    height: 50px;
    width: 210px;
    font-size:medium;
    color: azure;
}